.navbar-container{
    display: flex;
    justify-content: space-around;
    height: 80px; 
    background: rgb(134,58,255);
    background: linear-gradient(90deg, rgba(134,58,255,1) 54%);
}
h2{
    font-family: valor1, cursive, monospace;
}
.navbar-button{
    display: inline-flex;
    width: 200px;
    height: 80px;
    background: rgb(134,58,255);
    background: linear-gradient(90deg, rgba(134,58,255,1) 54%);
    color:white;
    font-size: 20px;
    align-items: center;    
    justify-content: center;     
    font-family: cursive;
    font-weight: 500; 
    border: none;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 5px;
}
button:hover{
    background-color: #ccc;
}
.cards-container{
    display: flex;
    justify-content: flex-start;
}   